html,body{
    height: 100%;
}
.stopLoadingScreen{
    display: none;
}
#mainbody{
    display: none;
}
.loginUi{
    background-image: url('../../Images/exp.svg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.text-dark-blue{
    color: #025888;
}